# Podstawowa konfiguracja
APP_ENV=development
SECRET_KEY=change_me_use_a_long_random_value

# Backend lokalnie, baza lokalnie:
DATABASE_URL=postgresql+psycopg://geoharmonizer:geoharmonizer_password@localhost:5432/geoharmonizer

# Backend w Dockerze, baza na hoście Windows/Mac:
# DATABASE_URL=postgresql+psycopg://geoharmonizer:password@host.docker.internal:5432/geoharmonizer

# VPS, aplikacja i baza na tym samym serwerze:
# DATABASE_URL=postgresql+psycopg://geoharmonizer:password@127.0.0.1:5432/geoharmonizer

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin12345
CORS_ORIGINS=http://localhost:5173
SESSION_HOURS=8
MAX_UPLOAD_MB=200
WFS_TIMEOUT_SECONDS=60
MAX_WFS_MB=100
MAX_CATALOG_FEATURES=20000
